name: Deploy to ECS

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@v2
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: ${{ secrets.AWS_REGION }}

    - name: Log in to Amazon ECR
      id: ecr-login
      uses: aws-actions/amazon-ecr-login@v2

    - name: Build, tag, and push Docker image
      run: |
        IMAGE_URI=453929088129.dkr.ecr.us-east-1.amazonaws.com/shipbee-backend-app
        docker build -t myapp .
        docker tag myapp:latest $IMAGE_URI
        docker push $IMAGE_URI

    - name: Update ECS service
      run: |
        CLUSTER_NAME=shipbee-cluster
        SERVICE_NAME=shipbee-task-def-service-a0b0xli9
        TASK_DEFINITION=$(aws ecs describe-task-definition --task-definition shipbee-task-def-3)
        IMAGE_URI=453929088129.dkr.ecr.us-east-1.amazonaws.com/shipbee-backend-app

        CURRENT_TASK_DEF=$(aws ecs describe-task-definition \
            --task-definition $TASK_DEFINITION \
            --query "taskDefinition" \
            --output json)
        
        # Update task definition with new image
        CLEAN_TASK_DEF=$(echo $CURRENT_TASK_DEF | jq 'del(.status, .revision, .taskDefinitionArn, .requiresAttributes, .compatibilities, .registeredAt, .registeredBy)')
        
        UPDATED_TASK_DEF=$(echo $CLEAN_TASK_DEF | jq --arg IMAGE "$IMAGE_URI" '.containerDefinitions[0].image=$IMAGE')

        NEW_TASK_DEF_ARN=$(aws ecs register-task-definition \
            --cli-input-json "$UPDATED_TASK_DEF" \
            --query "taskDefinition.taskDefinitionArn" \
            --output text)

        aws ecs update-service \
          --cluster $CLUSTER_NAME \
          --service $SERVICE_NAME \
          --task-definition $NEW_TASK_DEF_ARN \
          --force-new-deployment